@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 24px;
}

body,
a {
	color: #666699;
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
}

.header_top {
	background-color: #f5f7fa;
	border-bottom: 1px solid #e6e9ed;
	font-size: 12px;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
}

.header_top_item {
	display: inline-block;
	width: 50%;
}

.header_top_item:first-child img {
	margin-right: 10px;
}

.header_top_item:first-child img:last-child {
	margin-left: 30px;
}

.header_top_item:last-child {
	margin-left: -4px;
	text-align: right;

}

.header_top_item:last-child a:not(:last-child) {
	margin-left: 20px;
}

.header_bottom {
	height: 100px;
	display: flex;
	align-items: center;
}

.nav,
.logo,
.nav li,
.nav a {
	display: inline-block;
	vertical-align: middle;
}

.logo {
	margin-right: 90px;
	transition: 1s ease-in-out;
}

.logo:hover {
	transform: rotate(720deg);
}

.nav a {
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 5px;
}

.nav li:not(:last-child) a{
	padding-right: 40px;
}

.menu a:hover {
    background-color: #2d3e50;
    color: #fff;
    transition: all ease 1s;
}

/*Dropdown menu*/

.menu li ul {
    display: none;
    background-color: #fff;
    position: absolute;
   }

.menu li:hover > ul {
	display: block;
    transition: all ease 1s;
}

.menu li li {
    display: block;
}

.menu ul a {
    width: 150px;
}

.menu li ul a:hover {
    background-color: #2d3e50;
    transition: all ease 1s;
}

.menu ul ul {
    position: absolute;
    top: 60%;
    left: 100%;
}

/*Toggle menu*/

.nav_toggle {
    display: none;
    border: 0;
    background-color: transparent;
    position: relative;
    width: 25px;
    height: 15px;
    margin: 10px 20px;
    cursor: pointer;
}

.nav_toggle span,
.nav_toggle span::before,
.nav_toggle span::after {
    position: absolute;
}

.nav_toggle span,
.nav_toggle span::before,
.nav_toggle span::after {
    display: block;
    background-color: #666699;
    width: 100%;
    height: 3px;
    z-index: 1;
}

.nav_toggle span {
    top: 50%;
    transform: translateY(-50%);
}

.nav_toggle span::before,
.nav_toggle span::after {
    content: '';
}

.nav_toggle span::before {
    top: -6px;
}

.nav_toggle span::after {
    bottom: -6px;
}

/*nav lifehack*/

.nav_toggle label {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

.nav input#nav_toggle {
    display: none;
}

.nav input#nav_toggle:checked ~ .menu {
    display: block;
    left: 220px;
    top: 150px;
}

.promo {
	background: #5e7893 url('../images/background.png');
	background-size: 100%;
	text-align: center;
	height: 500px;
	/*display: table;
	width: 100%;*/
	/*position: relative;*/
	
}

.promo .promo_container {
	/*display: table-cell;
	vertical-align: middle;*/
	/*width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);*/
	width: 100%;
}

.promo h2 {
	font-size: 52px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.promo p {
	color: #a3b1bf;
}

.button_more {
	margin-top: 60px;
	background-color: #00bc9c;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px 50px;
	border: 0;
	border-radius: 5px;
	border-bottom: 2px solid #00a085;
	cursor: pointer;

	transform: scale(1);
}

.button_more:hover {
	transform: scale(1.3);
}


.order {
	border: 2px;
	background-color: yellow;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 85px;
	right: 16px;
	animation: pulse 1s linear infinite;
	cursor: pointer;
}

.order_form {
	display: none;
	width: 30%;
	height: 50%;
	background-color: #fff;
	border: 3px double;
	border-color: #ededed;
	border-radius: 5%;
	color: black;
	padding: 1%;
	text-align: center;
	position: fixed;
	top: 30%;
	left: calc(50% - 15% - 1%);
}

.order_form h3 {
	text-align: center;
	font-size: 22px;
	margin: 10px 0 5px 0;
}

.button_list {
	margin-top: 20px;
}

#button_1,
#button_2 {
	width: 30%;
	height: 15%;
}

/* вызов страницы формы*/
.order label {
	position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

.order_page input#order {
	display: none;
}

.order_page input#order:checked ~ .order_form {
	display: block;
	z-index: 2;
}

.section {
	padding: 80px 0;
	text-align: center;
}

.section h2 {
	margin-bottom: 50px;
	font-size: 44px;
}

.section_2 {
	margin-top: 85px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.section_2 p {
	font-size: 22px;
}

.section_2 ul {
	text-align: center;
	margin-top: 85px;
}
	

.section_2 ul li {
	display: inline-block;
	max-width: 26%;
	vertical-align: top;
	text-align: left;
}

.section_2 ul li h3 {
	margin: 0px 30px 0px 25px;
	font-size: 26px;

}
.section_2 ul li p {
	margin: 40px 30px 0px 25px;
	font-size: 16px;
}

.section_3 {
	background-color: #f2f5f7;
	display: flex;
	align-items: center;
}

.secction_3 h2 {
	font-size: 44px;
}


.section_3 div:not(first-child) {
	display: inline-block;
}

.section_3 p {
	font-size: 22px;
}

.section_3 p,
.section_3 a {
	margin: 20px 0;
}


.section_3 .motel {
	margin: 20px 0;
	width: 44.5%;
	height: 500px;
	background: #fff;
}

.section_3 .book {
	margin: 20px 0;
	margin-left: 30px;
	width: 44.5%;
	height: 500px;
	background: #fff 
}

.section_3 .motel p,
.section_3 .book p {
	font-size: 20px;
	font-weight: bold;
}

.section_3 .motel a,
.section_3 .book a {
	font-size: 14px;
	text-decoration: none;
}

.section_3 .motel img,
.section_3 .book img {
	width: 100%;
}

.section_3 .ather {
	margin: 130px 0;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}

.section_3 .ather img {
	width: 270px;
	margin: 0px 15px;
}

.section_4 {
	margin: 130px 0;
	padding: 0;
}

.section_4 h2 {
	font-size: 44px;
}

.section_4 p {
	margin: 40px 0;
	font-size: 22px;
}

.footer .footer_top {
	width: 100%;
	background-color: #2f4052;
	color: #fff;
	text-align: center;
}

.footer .footer_top div {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 60px 0 70px 0;
}

.footer .footer_top .who,
.footer .footer_top .get {
	width: 23%;
}

.footer .footer_top .latest {
	width: 45%;
}

.footer .footer_top .latest img {
	width: 20%;
}

.footer .footer_top h2 {
	font-size: 16px;
	margin: 10px 0;
}

.footer .footer_top p,
.footer .footer_top a {
	font-size: 14px;
	margin: 25px 0;
}

.footer .footer_top a {
	text-decoration: none;
	color: #fff;
}

.footer .footer_top .get img {
	margin-right: 10px;
}

.footer .footer_bottom {
	width: 100%;
	background-color: #283645;
	text-align: center;
}

.footer .footer_bottom .all,
.footer .footer_bottom .click {
	display: inline-block;
	width: 40%;
	text-align: center;
	font-size: 14px;
	margin: 35px 0;
}

.footer .footer_bottom .click a {
	text-decoration: none;
}

.footer .footer_bottom .up {
	width: 40px;
	height: 40px;
	background: url('../images/icon_up.png');
	border-radius: 3px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	cursor: pointer;

}